<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-25">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/how-do-you-feel"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
    </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img class="breathyIcon" src="assets\icon\BreathyHeart.PNG">
            </ion-avatar>
            <span><p class = "bolder">Why do you feel uncomfortable?</p></span><br>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button (click)="buttonEvent('tired')" expand="block">
            <p>I'm Tired</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button (click)="buttonEvent('headache')" expand="block">
            <p>I have a headache</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button (click)="buttonEvent('nosleep')" expand="block">
            <p>I didn't have enough sleep</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button (click)="buttonEvent('uncomfortable')" expand="block">
            <p>I'm feeling uncomfortable </p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button (click)="buttonEvent('cantfocus')" expand="block">
            <p>I can't focus</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button (click)="buttonEvent('cantfocus')" expand="block">
            <p>None of the above</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
