<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
            <strong>Is this better?</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button [routerLink]="['/enjoy-your-day']" expand="block">
            <strong>Yes!</strong>
            <img src="assets/undraw_feeling_happy_jymo 1.svg"/>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button [routerLink]="['/fan-speed']" expand="block">
            <strong>No!</strong>
            <img src="assets/Smajlik.svg"/>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>