
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-25">
        <ion-col>
          <ion-row class="padding-top-50">
          </ion-row>
          <ion-row class="padding-top-50">
          </ion-row>
          <ion-row class="padding-top-25">
          </ion-row>
          <img src="assets/fan.svg"/>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <strong>Wait a moment please</strong>
          <ion-row class="padding-top-16">
          </ion-row>
          <p>It may take a few seconds until your settings are applied.</p>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-25">

        <ion-col>
          <ion-spinner name="crescent" color="primary" ></ion-spinner>
          <ion-spinner name="crescent" color="secondary" ></ion-spinner>
          <ion-spinner name="crescent" color="tertiary" ></ion-spinner>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-12">
      </ion-row>
    </ion-grid>
  </div>
</ion-content>








