<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
            <strong>What is wrong?</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-col>
            <small>Temperature</small>
        </ion-col>
          <ion-range color="success" value="50">
            <ion-label slot="start">too cold</ion-label>
            <ion-label slot="end">too hot</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-col>
        <small>Humidity</small>
    </ion-col>
      <ion-row class="padding-top-12">
        <ion-col>
          <ion-range color="primary" value="50">
            <ion-label slot="start">too dry</ion-label>
            <ion-label slot="end">too humid</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-col>
        <small>Airspeed</small>
    </ion-col>
      <ion-row class="padding-top-12">
        <ion-col>
          <ion-range color="danger" value="50">
            <ion-label slot="start">too fast</ion-label>
            <ion-label slot="end">too slow</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-button href="is-this-better" expand="block">
            Confirm
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>