<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">

    <ion-tab-button  tab="how-do-you-feel">
      <ion-icon color = "light" name="list">></ion-icon>
      <ion-label>Sessions</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="favourites">
      <ion-icon color = "light" name="heart"></ion-icon>
      <ion-label>Sessions</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="survey">
      <ion-icon color = "light" name="cafe"></ion-icon>
      <ion-label>Survey</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()" tab="sign-in">
      <ion-icon color = "light" name="log-out-outline"></ion-icon>
      <ion-label>Log out</ion-label>
    </ion-tab-button>

  <!--<ion-tab-button [routerLink]="home" expand="block">
  <ion-icon color = "light" name="home-sharp"></ion-icon>
  </ion-tab-button>
  <ion-tab-button [routerLink]="how-do-you-feel" expand="block">
  <ion-icon color = "light" name="list"></ion-icon>
  </ion-tab-button>
  <ion-tab-button [routerLink]="favourites" expand="block">
  <ion-icon color = "light" name="heart"></ion-icon>
  </ion-tab-button>-->

  </ion-tab-bar>

  </ion-tabs>
