<ion-content [fullscreen]="true">
  <ion-row class="padding-top-50">
    <ion-col>
        <strong>My favorites</strong>
    </ion-col>
  </ion-row >
  <ion-grid>
    <ion-row class="padding-top-50">
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-button color="success" fill="outline" slot="start">Select</ion-button>
            <ion-label>Rainy day</ion-label>
            <ion-button fill="clear" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="padding-top-20">
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-button color="success" fill="outline" slot="start">Select</ion-button>
            <ion-label>Chilly day</ion-label>
            <ion-button fill="clear" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="padding-top-20">
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-button color="success" fill="outline" slot="start">Select</ion-button>
            <ion-label>Sunny day</ion-label>
            <ion-button fill="clear" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 
