<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
            <strong>What is wrong?</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-col>
            <small>Temperature</small>
        </ion-col>
          <ion-range [(ngModel)]="temperature" color="success" value="50">
            <ion-label slot="start">cold</ion-label>
            <ion-label slot="end">hot</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-col>
        <small>Humidity</small>
    </ion-col>
      <ion-row class="padding-top-12">
        <ion-col>
          <ion-range [(ngModel)]="humidity" color="primary" value="50">
            <ion-label slot="start">dry</ion-label>
            <ion-label slot="end">humid</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-col>
        <small>Airspeed</small>
    </ion-col>
      <ion-row class="padding-top-12">
        <ion-col>
          <ion-range [(ngModel)]="airspeed" color="danger" value="50">
            <ion-label slot="start">fast</ion-label>
            <ion-label slot="end">slow</ion-label>
          </ion-range>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-button (click)="confirmSelection()"  expand="block">
            <div *ngIf="!loading; else displaySpinner">Update</div>
            <ng-template #displaySpinner><ion-spinner></ion-spinner></ng-template>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>