<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NAME</ion-title>
    </ion-toolbar>
  </ion-header>

  <a [routerLink]="['/home']">
    <div id="container">
      <ion-grid>
        <ion-row class="padding-top-50">
          <ion-col>
              <strong>Great enjoy your day!</strong>
          </ion-col>
        </ion-row>
        <ion-row class="padding-side-25 padding-top-50">
          <ion-col>
            <img src="assets/undraw_joyride_hnno 1.svg"/>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-50">
          <ion-col>
            <p>Tap screen to return</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </a>
</ion-content>