<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-25">
        <ion-col>
          <img src="assets/undraw_Work_time_re_hdyv 1.svg"/>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <strong>Vent2U</strong>
          <p>Det handler om DIT liv med god luftkvalitet.</p>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-25">
        <ion-col>
          <ion-button [routerLink]="['/create-account']" expand="block">Create Account</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-12">
        <ion-col>
          <ion-button [routerLink]="['/sign-in']" expand="block" class="secondary-button">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
