<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
          <strong>Verify Code</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-label>Enter the code you received here</ion-label>
          <ion-input placeholder="Enter code here" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-button href="set-new-password" expand="block">Set New Password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>