<ion-content [fullscreen]="true">
  <ion-row class="padding-top-25">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/how-do-you-feel"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
  <ion-row class="padding-top-50">
    <div>
      <p>
        <b>Hey,I'm Breathy!</b> <br />
        This is my breathing excercise. Breath with me, so you can stay focused.
      </p>
    </div>
  </ion-row>
  <ion-row class="padding-top-25">
    <ion-col size="50">
      <img src="assets/Bubbly.GIF" class="center" />
    </ion-col>
  </ion-row>
</ion-content>
