<ion-content [fullscreen]="true">
  <ion-row class="padding-top-25">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/how-do-you-feel"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-row>
  <div id="heading"><h1>Breathing excercise</h1>
  </div>
  <div id="container">
    <div class="content"><h1><span></span></h1></div>
    <div class="circle" style="animation-delay: 0s"></div>
    <div class="circle" style="animation-delay: 1s"></div>
    <div class="circle" style="animation-delay: 2s"></div>
    <div class="circle" style="animation-delay: 3s"></div>
    <div class="circle" style="animation-delay: 4s"></div>
  </div>
</ion-content>