<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row id="color-block-top" class="padding-top-50">
        <ion-col>
          <strong>Welcome Back!</strong>
        </ion-col>
      </ion-row>
      <ion-row id="color-block-bottom">
        <ion-col>
          <img src="assets/undraw_Weather_app_re_kcb1 1.svg" />
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-label>Username</ion-label>
          <ion-input
            [(ngModel)]="username"
            placeholder="your@email.com"
            type="text"
            required
            name="first"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-12">
        <ion-col>
          <ion-label>Password</ion-label>
          <ion-input
            [(ngModel)]="password"
            placeholder="Enter your password here..."
            type="password"
            required
            name="first"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="forget-password">
        <a id="forget-password" [routerLink]="['/forget-password']"
          >Forgot password?</a
        >
      </ion-row>
      <ion-row class="padding-top-25">
        <ion-col size="10">
          <ion-button (click)="loginUser()" expand="block">
            <div *ngIf="!loading; else displaySpinner">Sign in</div>
            <ng-template #displaySpinner><ion-spinner></ion-spinner></ng-template>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <img id="finger-print" src="assets/fingerprint.svg" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center create-account">
        <ion-col size="8"
          ><small>Don't have an account? </small
          ><a id="create-account" [routerLink]="['/create-account']"
            >Create one!</a
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
