#container strong {
    color: white;
}

img {
    height: 200px;
    width: 200px;
}

a {
    color: #999999;
}

#create-account {
    color: #72D3D9;
    text-decoration: underline;
}

#finger-print {
    height: 42px;
    width: 40px;
}