
  <div *ngIf="show"  >
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
          <div> 
            <span><p class = "bolder">Hey, how are you feeling right now? </p></span><br>
          </div>
          
        </ion-col>
      </ion-row>
      
<ion-row class="padding-side-25 padding-top-20">
  <ion-col>
    <ion-button class="ion-button-small" (click)="setPrefTimeOut('good')" expand="block">
      <div> 
        <span><ion-label> I'm good</ion-label></span><br>
        <img  class="img-icon"src="assets/checkmark-circle-outline.svg"/>
      </div>
    
     
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="ion-button-small" (click)="setPrefTimeOut('cold')" expand="block">
      <div> 
        <span><ion-label>I'm cold</ion-label></span><br>
        <img  class="img-icon"src="assets/snow-outline.svg"/>
      </div>
    </ion-button>
  </ion-col>
</ion-row>
  <ion-row class="padding-side-25 padding-top-20">
  <ion-col>
  
    <ion-button class="ion-button-small" (click)="setPrefTimeOut('warm')" expand="block">
      <div> 
        <span><ion-label>I'm warm</ion-label></span><br>
        <img  class="img-icon"src="assets/sun-outline.svg"/>
      </div>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="ion-button-small" [routerLink]="['/problems']" expand="block">
      <div> 
        <span><ion-label>I'm uncomfortable</ion-label></span><br>
        <img  class="img-icon"src="assets/person-delete-outline.svg"/>
      </div>
   
      
    </ion-button>
  </ion-col>
</ion-row>

</ion-grid>
</div>
<div *ngIf="!show">
  <ion-grid>
    <ion-row  class="padding-top-50">
      <ion-col>
       <ion-card class="cardish" expand="block">
         <p>
          
         {{text}}
          <br>
          <img  class="imgy"src="assets/undraw_Playful_cat_re_bxiu.svg"/>

        </p>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
  
</div>
