strong {
    color: #000000;
  }
  
  p {
    color: #000000;
  }
  
  ion-label {
    color: #000000;
   // padding-bottom: 1000px;
  }
    h2 {
    color: #000000;
  }
  
  .padding-top-35 {
    text-align: left;
  }
  
  .padding-top-18 {
    text-align: left;
  }
  
  .ion-button {
    --background: rgba(114, 211, 217, 0.1);
    --border-radius: 15px;
   
    height: 150px;
  }
  ion-card {
    background: rgba(114, 211, 217, 0.1);
    border-radius: 15px;
   // padding: -110;
   margin-right: -20px;
  margin-left: -20px;
   height: 200;
   
   
    
  }
  .ion-button-small {
    --background: rgba(114, 211, 217, 0.1);
    --border-radius: 15px;
   // min-width: 10em;
    height: 70px;
  }
  
  img {
    width: 30px;
  }
  .imgy{
    width: 90px;
  }
  .img-icon{ width: 25px;

  }
  ion-icon {
    color: #000000;
   // width: 50px;
   // height: 100;
  }
  .two-lines {
    min-width: 10em;
  }
  .bolder {
    font-weight: bolder;
    color: #000000;
    text-align: left;
    margin-left: -15px;
    
 }

//  .typewriter {
//   color: #fff;
//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   white-space: nowrap; /* Keeps the content on a single line */
//   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   animation: 
//     typing 3.5s steps(30, end),
// }

// /* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }
  