<ion-content [fullscreen]="true">
  <div id="container" *ngIf="show"  >
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
            <p>Hey, how are you feeling right now?</p>
        </ion-col>
      </ion-row>
      
<ion-row class="padding-side-25 padding-top-20">
  <ion-col>
    <ion-button class="ion-button-small" (click)="setPrefTimeOut('good')" expand="block">
      <div> 
        <span><ion-label>Good</ion-label></span><br>
        <img  class="img-icon"src="assets/checkmark-circle-outline.svg"/>
      </div>
    
     
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="ion-button-small" (click)="setPrefTimeOut('cold')" expand="block">
      <div> 
        <span><ion-label>Cold</ion-label></span><br>
        <img  class="img-icon"src="assets/snow-outline.svg"/>
      </div>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="ion-button-small" (click)="setPrefTimeOut('warm')" expand="block">
      <div> 
        <span><ion-label>Warm</ion-label></span><br>
        <img  class="img-icon"src="assets/sun-outline.svg"/>
      </div>
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button class="ion-button-small" [routerLink]="['/favourites']" expand="block">
      <div> 
        <span><ion-label>Bad</ion-label></span><br>
        <img  class="img-icon"src="assets/person-delete-outline.svg"/>
      </div>
     
      
    </ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</div>
<div *ngIf="!show">
  <ion-grid>
    <ion-row  class="padding-top-50">
      <ion-col>
       <div class="cardish" expand="block">
         <p>
          
         {{text}}
          <br>
          <img  class="imgy"src="assets/undraw_Playful_cat_re_bxiu.svg"/>

        </p>
       </div>
    </ion-col>
    </ion-row>
  </ion-grid>
  
</div>
</ion-content>