
<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-25"></ion-row>
      <ion-row class="padding-top-25"></ion-row>
      <ion-row class="padding-top-25">
        <ion-col>
          <img src="assets/Hotovo.png"/>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <strong>It is done!</strong>
          <p>Do you like this set up? You can save it to your favorites!</p>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-16">
        <ion-col>
          <!-- <ion-label><small>Name of favorite</small></ion-label> -->
          <ion-input [(ngModel)]="preferenceName" placeholder="Enter name of set up" type="name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-25">
        <ion-col>
          <ion-button (click)="savePreference()" expand="block">
            <div *ngIf="!loading; else displaySpinner">Save</div>
            <ng-template #displaySpinner><ion-spinner></ion-spinner></ng-template>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-25">
        <ion-col><a id="no-thanks" [routerLink]="['/enjoy-your-day']">No, thanks!</a></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

