<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
          <strong>Create Account</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-label><small>Create Your ID</small></ion-label>
          <ion-input placeholder="Enter your new ID here" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-25">
        <ion-col>
          <ion-label><small>Create password</small></ion-label>
          <ion-input placeholder="Enter new password here" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-25">
        <ion-col>
          <ion-label><small>Repeat password</small></ion-label>
          <ion-input placeholder="Enter new password again" type="password"></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-button href="sign-in" expand="block">Create</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>