<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>

  <a [routerLink]="['/introduce-step']" >
    <div id="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <strong>Mental Shower</strong>
          </ion-col>  
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Tap screen to start</p>
          </ion-col>  
        </ion-row>
      </ion-grid>
    </div>
  </a>
</ion-content>
