<ion-content [fullscreen]="true">
  <ion-row class="padding-top-25">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/how-do-you-feel"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-row>
  <a href="how-do-you-feel">
    <div id="container">
      <ion-grid>
        <ion-row class="padding-top-50">
        </ion-row>
        <ion-row class="padding-side-25 padding-top-50">
          <ion-col>
            <img src="assets/Questions.svg"/>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-50">
          <ion-col>
              <strong>{{title}}</strong>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-25">
          <ion-col>
            <p>{{copy}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-25">
          <ion-col>
            <ion-button href="fan-speed" expand="block">Go to settings</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-16">
          <ion-col>
            <a id="got-it" href="how-do-you-feel">Got it, thanks!</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </a>
</ion-content>