<ion-content [fullscreen]="true">
  <ion-row class="padding-top-25">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/how-do-you-feel"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-row>
  <a href="how-do-you-feel">
    <div id="container">
      <ion-grid>
        <ion-row class="padding-top-50">
        </ion-row>
        <ion-row class="padding-side-25 padding-top-50">
          <ion-col>
            <img src="assets/Questions.svg"/>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-50">
          <ion-col>
              <strong>Why can you feel tired?</strong>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-25">
          <ion-col>
            <p>CO2 levels increase when there are many people in a classroom. 
              It may be easy for the teacher standing in front of the class to breathe, but at the back of the room there is practically a wall of air, as the air circulation is insufficient. 
              You feel tired, which affects learning.</p>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-25">
          <ion-col>
            <ion-button href="favorites" expand="block">Go to settings</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-16">
          <ion-col>
            <a id="got-it" href="how-do-you-feel">Got it, thanks!</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </a>
</ion-content>