<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
            <strong>How do you feel?</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button href="enjoy-your-day" expand="block">
            <strong>I'm fine</strong>
            <img src="assets/undraw_feeling_happy_jymo 1.svg"/>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button href="fan-speed" expand="block">
            <strong>Not good</strong>
            <img src="assets/Smajlik.svg"/>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>