<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
            <p>Hey, how are you feeling today?</p>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-18">
        <ion-col>
            <strong>Take control</strong>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-50">
        <ion-col>
          <ion-button [routerLink]="['/tabs/favourites']" expand="block">
            <p>Favourite settings</p>
            <img src="assets/favourites.svg"/>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-25">
        <ion-col>
          <ion-button [routerLink]="['/fan-speed']" expand="block">
            <p>New setting</p>
            <img src="assets/undraw_feeling_happy_jymo 1.svg"/>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-dashboard></app-dashboard>
  </div>
</ion-content>