strong {
  color: #000000;
}

p {
  color: #000000;
}

.padding-top-50 {
  text-align: left;
}

.padding-top-18 {
  text-align: left;
}

ion-button {
  --background: rgba(114, 211, 217, 0.1);
  --border-radius: 20px;

  height: 200px;
}

img {
  width: 100px;
}

.alertClass {
  --background: #e5e5e5;
}
