
  
    <ion-grid>
      <ion-row >
        <ion-col>
            <p class = "bolder">Are you looking for something else?</p>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-20">
        <ion-col>
          <ion-button class="ion-button" [routerLink]="['/fan-speed']" expand="block">
           
            <div> 
              <span><p>New setting</p></span><br>
              <img src="assets/set.svg"/>
            </div> 
            
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="ion-button"[routerLink]="['/tabs/group']" expand="block">
            <div> 
              <span><p>Zone Democracy</p></span><br>
              <img src="assets/Group.svg"/>
            </div>
            
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="padding-side-25 padding-top-10">
        <ion-col>
          <ion-button class="ion-button"[routerLink]="['/breathe']" expand="block">
            <div> 
              <span><p>Breathing exercise</p></span><br>
              <img src="assets/undraw_Floating_re_xtcj.svg"/>
            </div>
            
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="ion-button" [routerLink]="['/survey']" expand="block">
            
            <div> 
              <span><p>Survey</p></span>
              <span><img src="assets/love.svg"/></span><br>
              
              
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

