<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row id="color-block-top" class="no-padding-side">
        <ion-col class="flex">
          <strong>Forgot Password</strong>
          <img src="assets/Layer 2.svg"/>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
            <ion-label>Your email or phone number</ion-label>
            <ion-input placeholder="Enter your email or phone number" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="padding-top-50">
        <ion-col>
          <ion-button href="verify-code" expand="block">Get Started</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>