
<ion-content>
  <ion-card>
  
    <h3 class="bolder">
      Welcome! Let's get you started quicly
      
    </h3>
    <p>
      
      Please, select a room in order to start:
    </p>

  <div class="classMenu">
  <ion-item class="classMenu">
    <ion-label>Choose Classroom</ion-label>
    <ion-icon name="arrow-dropdown"></ion-icon>
  <ion-select interface="popover" [(ngModel)]="roomSelected" (ngModelChange)="roomWasSelected()">
   <!--  <ion-select-option>Copenhagen</ion-select-option>-->
   <ion-select-option *ngFor="let curRoom of classroomList" [value]="curRoom"  >{{curRoom.classroomname}}</ion-select-option>
  </ion-select>
</ion-item>

</div >
<div   *ngIf="!roomIsSelected">
  <p class="padding-top-b">
    
    Here we can give quick instructions or put a nice pic, IDK so its not empty.
  </p>
  <img src="assets\icon\groupeImage.png"/>
  </div>
  <div  *ngIf="roomIsSelected">
    <ion-grid>
      <ion-row class="padding-top-50">
        <ion-col>
            <h3>Choose your zone</h3>
        </ion-col>
      </ion-row>
      
      <ion-row class="padding-side-25 padding-top-10">
        <ion-col>
          <ion-button class="ion-button" expand="block">
            <div> 
              <span><p>Zone 1</p></span><br>
              <img src="assets\icon\groupeImage.png"/>
            </div>
            
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="ion-button"  expand="block">
            <div> 
              <span><p>Zone 2</p></span><br>
              <img src="assets\icon\groupeImage.png"/>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
  
  
  
      <ion-row class="padding-side-25 padding-top-10">
        <ion-col>
          <ion-button class="ion-button" value = 3 expand="block">
            <div> 
              <span><p>Zone 3</p></span><br>
              <img src="assets\icon\groupeImage.png"/>
            </div>
            
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="ion-button" value = 4 routerLink="/tabs/favourites" expand="block">
            <div> 
              <span><p>Zone 4</p></span><br>
              <img src="assets\icon\groupeImage.png"/>
            </div>
            
          </ion-button>
        </ion-col>  
      </ion-row>
    </ion-grid>
    </div>
</ion-card> 

</ion-content>
